.level-link {
    color: #F24822;
    /* border: 1px solid #00000010; */
    background: #fff;
    border-radius: 12px;

    width: 100%;
    padding: 32px;

    transition: .2s;
}

.level-link-row {
    display: flex;
    align-items: flex-start;
    gap: 22px;
}

.level-link-completed {
    border: 2px solid #22c55e;
}

.level-link-locked {
    opacity: 0.8;
}

.level-link-disabled {
    border-color: #00000010;
    background: #00000010;
    color: #000000;
    cursor: not-allowed;
    pointer-events: none;
}

.level-link-disabled img {
    filter: grayscale(100%);
}

.level-link-content {
    flex: 1;
    padding-bottom: 8px;
}

.level-link-title {
    font-size: 1rem;
    font-weight: 600;
}

.level-link-label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #555;
}

.level-link-progress {
    margin-top: 8px;
}