@import "tailwindcss";

:root {
  --background: #FFF;
  --foreground: #4A332E;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-noto-serif-georgian);
}

* {
  box-sizing: border-box
}

*:before,
*:after {
  box-sizing: border-box
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
video,
iframe,
blockquote,
cite,
p {
  display: block;
  margin: 0;
  padding: 0
}

fieldset {
  border: none;
  display: block;
  margin: 0;
  padding: 0
}

label {
  position: relative;
  display: block;
  margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

img,
video {
  max-width: 100%
}

ins {
  text-decoration: none
}

table {
  border-collapse: collapse
}

html,
body {
  padding: 0;
  margin: 0
}

body {
  font-family: var(--font-sans);
  font-size: 1rem;
  background: var(--background);
  color: var(--foreground);  
  transition: .3s cubic-bezier(0.76, 0, 0.24, 1)
}

a {
  text-decoration: none;
  color: #F24822;
  transition: .2s;
  outline: none;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: #AA2608;
  outline: none;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea,
select {
  font-family: var(--font-sans);
  font-size: 1rem;
}

button,
input[type=submit] {
  cursor: pointer;
  outline: none;
}

button:focus,
input[type=submit]:focus {
  outline: none;
}

.debugbar {
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  padding: 6px;
  gap: 6px;
}

.debugbar > div {
  background: #222;
  padding: 3px;
}



.btn {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.1;
  text-decoration: none;
  color: #8A2008;
  border: 1px solid transparent;
  background: #EAE7E6;
  border-radius: 12px;
  box-shadow: 0px 3px 0px #d4d0ce;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0.6em 1.5em;
  height: 56px;

  transition: 0.1s;
  user-select: none;
}

.btn:hover, .btn:focus {
  color: #8A2008;
}

.btn:active {
  color: #8A2008;
  box-shadow: 0px 0px 0px #D7D3D2;
  transform: translateY(2px);
}

.btn-block {
  width: 100%;
}

.btn-small {
  font-size: 1rem;
  height: 44px;
}

.btn-large {
  font-size: 1.25rem;
  height: 72px;
}

.btn-primary {
  color: #fff;
  background-color: #F24822;
  box-shadow: 0px 3px 0px #AA2608;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff;
}

.btn-primary:active {
  box-shadow: 0px 0px 0px #AA2608;
}




.gameplay-game {

}

.slider {
  max-width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  overflow: hidden;
}

.slider-track {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  transition: 0.8s;
  /* transition: 1.5s cubic-bezier(0.83, 0, 0.17, 1); */
}

.slider-slide {
  width: 100vw;
  min-width: 100vw;
  /* background: yellow;
  width: 45vw;
  min-width: 45vw; */

  transition: 0.8s;
  /* transition: 1.5s cubic-bezier(0.83, 0, 0.17, 1); */
}

.slider-slide-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 32px;

  width: 100%;
  height: 100%;

  transition: 0.99s;
  /* transition: 1.5s cubic-bezier(0.83, 0, 0.17, 1); */
}

.slider-slide.processed:not(.learned) {
  opacity: 0;
  /* transform: scale(0.95) rotate(-2deg) translateX( var(--slide-width, 0) ); */
  transform: scale(0.95) rotate(-40deg);
  transform-origin: 0% 100%;
  z-index: -1;
  pointer-events: none;
}

.slider-slide.learned {
  opacity: 0;
  transform-origin: center center;
  z-index: -1;
  pointer-events: none;
}

.slider-slide.learned .slider-slide-inner {
  transform: translateX( calc(var(--slide-width, 0) / 2) ) rotate(5deg) scale(0.8);
}


/* The green ring on learned card */
.slider-slide.learned .flashcard-front {
  box-shadow: inset 0px 0px 0px 8px rgba(14,194,113,1);
}


.slider-slide-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
  max-width: 100%;
  padding: 0 32px;
}

.finish-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 440px;
  max-width: 100%;
  margin: auto;
  padding: 32px;
  min-height: 90vh;
}

.finish-message-title {
  text-align: center;
}

.finish-message-text {
  text-align: center;
}

.finish-message-text p {
  margin: 0;
  margin-bottom: 0.5em;
}

.finish-message-actions {
  margin-top: 24px;
}


.divider {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 6px;
}

.hint {
  font-size: 0.87rem;
  opacity: 0.6;
  margin-top: 16px;
}

.navbar {
  width: 100%;
}

.navbar-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-aside {
  width: 60px;
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-title {
  font-size: 0.875rem;
  text-align: center;

  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-button {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-button img {
  display: block;
  height: 16px;
  width: auto;
}

.screen-gameplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.gameplay-game {
  overflow: hidden;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}



.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 99svh;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;

  width: 480px;
  max-width: 100%;
  margin: auto;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
}

.welcome-logo svg {
  display: block;
  width: 120px;
  height: auto;
  margin: 0;
  margin-bottom: 24px;
}

.welcome-descr {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;

  text-align: center;
}

.welcome-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}

.welcome-progress {
  font-size: 0.95rem;

  padding-top: 16px;
}

.welcome-footer {
  font-size: 0.875rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding-right: 32px;
  padding-left: 32px;
  margin-top: 32px;
}


.welcome-settings-btn {
  font-size: 0;
  background: url(/images/icon-gear-black.svg) no-repeat center center;
  background-size: auto 24px;
  border: none;

  position: absolute;
  z-index: 1;
  top: 24px;
  right: 24px;

  width: 40px;
  height: 40px;
}

.settings-drawer {
  background: #FFFFFF;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);

  max-width: 80vw;
  width: 400px;
  position: fixed;
  z-index: 500;
  top: 16px;

  padding: 32px;

  opacity: 0;
  visibility: hidden;
  right: -80vw;

  transition: 0.3s;
}

.settings-drawer-shown {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.welcome-settings-close {
  font-size: 0;
  background: url(/images/icon-close-black.svg) no-repeat center center;
  background-size: auto 24px;
  border: none;

  width: 30px;
  height: 30px;

  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
}

.settings-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.settings-item {
  padding-top: 8px;
  padding-bottom: 8px;
}


.settings-ff-items {
  display: flex;
  gap: 6px;
  margin-top: 12px;
}

.settings-ff-item {
  flex: 1;
  position: relative;
}

.settings-ff-item input {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  opacity: 0;
}

.settings-ff-item-preview {
  font-size: 28px;
  background: #EFE9E9;
  border: 2px solid transparent;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding-bottom: 10px;

  transition: 0.2s;;
}

.settings-ff-item input:checked + .settings-ff-item-preview {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: #d4d0ce;
}

.settings-ff-item-sans .settings-ff-item-preview {
  font-family: sans-serif;
}

.settings-ff-item-serif .settings-ff-item-preview {
  font-family: var(--font-noto-serif-georgian);
}


.reset-button {
  font-size: 1rem;
  color: #F22237;
  background: transparent;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.reset-button img {
  height: 1.1em;
  width: auto;
}


