.levels-preview-section {
    margin-top: 2rem;
    width: 100%;
}

.levels-preview-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 0 1.5rem 0;
    text-align: center;
}


.levels-preview-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.levels-preview-divider {
    background: linear-gradient(180deg, rgba(255, 79, 39, 0) 0%, rgba(255, 79, 39, 0.16) 100%);
    
    width: 3px;
    height: 50px;
}

.levels-preview-item {
    text-align: center;


}

.levels-preview-icon {
    border: 3px solid rgba(255, 79, 39, 0.16);
    border-radius: 99px;

    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.levels-preview-icon img {
    width: 36px;
    height: 36px;
}

.levels-preview-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FF4F27;

    margin-top: 14px;

}