.course-link {
    color: #F24822;
    /* border: 1px solid #00000010; */
    background: #fff;
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 22px;

    width: 100%;
    min-height: 96px;
    padding: 28px;
    padding-right: 32px;

    cursor: pointer;
}

.course-link:hover {
    color: #F24822;
    /* background: #F2482210; */
}

.course-link:active {
    /* background: #F2482220; */
}

.course-link-disabled {
    border-color: #00000010;
    background: #00000010;
    color: #000000;
    cursor: not-allowed;
    pointer-events: none;
}

.course-link-locked {
    opacity: 0.3;
}

.course-link-disabled img {
    filter: grayscale(100%);
}

.course-link-content {
    flex: 1;
    padding-bottom: 8px;
}

.course-link-title {
    font-size: 1rem;
    font-weight: 600;
}

.course-link-label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #555;
}

.course-link-progress {
    margin-top: 8px;
}